html, body {   
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.content {
    flex: 1 0 auto;
    min-height: 90vh;
}
.navbar {
    background-color: #00b4d8;
    padding: 5px;
}
ul.nav-list {
    list-style: none;
    display: flex;    
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: white;
}
.footer {
    color: white;
    background-color: #00b4d8;
    flex-shrink: 0;
    padding: 10px;
}
.footer-text {
    display: flex;
    justify-content: center;
}